body{
  font-family: arial, sans-serif;
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
   background-color: #f4f4f4;
}
.container{
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1{
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.row{
  display:flex;
  gap:10px;
}

.row input{
  flex:1
}

.terms-row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.terms-row input[type="checkbox"] {
  margin-top: 5px;
}

.terms-row label {
  font-weight: bold;
  margin-top: 3px;
}

.terms {
  font-size:smaller;
  margin:0;
  flex: 1;
  line-height: 1.4;
  margin-top: 2px;
  padding-left: 40px;
}

.terms a {
  text-decoration: none;
  color: #007bff;
  font-weight: italic;
}


.register-text {
  background-color: #007bff;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
}


.button-row {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.register {
  background-color: #007bff;
}

.signin {
  background-color: #28a745;
}

@media (max-width: 500px) {
  .row {
    flex-direction: column;
  }
}